.ClassFinder {
    text-align: center;
  }
  
  .ClassFinder-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .ClassFinder-top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .input-container,
  .select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .ClassFinder-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  
  .ClassFinder-card {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: left;
  }
  
  .ClassFinder-card h1 {
    font-size: 20px;
    margin: 3px 0;
  }
  
  .ClassFinder-card h2 {
    font-size: 16px;
    margin: 3px 0;
  }

  .ClassFinder-card h3 {
    font-size: 13px;
    margin: 3px 0;
  }
  
  .inline-heading {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
  }